# Exploring LA Crimes

## Import necessary Libraries and Loading Data

In [22]:
import pandas as pd
import matplotlib as plt
la_crime = pd.read_csv('./Crime_Data_from_2020_to_Present_20240918.csv')

## Understanding and Cleaning Data

In [23]:
la_crime.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277

In [26]:
la_crime.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

In [32]:
# Check null values
la_crime.isna().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           143980
Vict Age               0
Vict Sex          137198
Vict Descent      137209
Premis Cd             15
Premis Desc          585
Weapon Used Cd    652669
Weapon Desc       652669
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          909812
Crm Cd 3          976319
Crm Cd 4          978564
LOCATION               0
Cross Street      827201
LAT                    0
LON                    0
dtype: int64

### Drop all columns that contain null values

In [37]:
df = la_crime.drop(labels = [
    'Mocodes', 
    'Vict Sex', 
    'Vict Descent', 
    'Weapon Used Cd', 
    'Weapon Desc', 
    'Crm Cd 2', 
    'Crm Cd 3', 
    'Crm Cd 4', 
    'Cross Street'
], axis=1)

In [43]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Premis Cd,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,0,101.0,STREET,AA,Adult Arrest,510.0,1900 S LONGWOOD AV,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,47,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),IC,Invest Cont,330.0,1000 S FLOWER ST,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,19,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",IC,Invest Cont,480.0,1400 W 37TH ST,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),19,405.0,CLOTHING STORE,IC,Invest Cont,343.0,14000 RIVERSIDE DR,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,28,102.0,SIDEWALK,IC,Invest Cont,354.0,1900 TRANSIENT,34.0944,-118.3277

### Sort crimes from earliest date to present

In [46]:
df.sort_values(by='Date Rptd')

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Vict Age,Premis Cd,Premis Desc,Status,Status Desc,Crm Cd 1,LOCATION,LAT,LON
25077,200404028,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,536,4,Hollenbeck,439,2,901,VIOLATION OF RESTRAINING ORDER,75,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,901.0,1800 MARNEY AV,34.0625,-118.1766
122853,201104069,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1030,11,Northeast,1195,1,330,BURGLARY FROM VEHICLE,36,101.0,STREET,IC,Invest Cont,330.0,STADIUM WY,34.0724,-118.2470
34551,202004041,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,530,20,Olympic,2045,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,31,503.0,HOTEL,AO,Adult Other,626.0,3100 W 8TH ST,34.0577,-118.2971
24443,201900503,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,510,19,Mission,1967,1,121,"RAPE, FORCIBLE",28,501.0,SINGLE FAMILY DWELLING,AO,Adult Other,121.0,9400 OBECK AV,34.2409,-118.4329
159283,201604154,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1300,16,Foothill,1658,2,888,TRESPASSING,35,501.0,SINGLE FAMILY DWELLING,IC,Invest Cont,888.0,10200 MARCUS AV,34.2540,-118.2820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
681531,230719088,12/31/2023 12:00:00 AM,12/29/2023 12:00:00 AM,2200,7,Wilshire,769,1,330,BURGLARY FROM VEHICLE,31,101.0,STREET,IC,Invest Cont,330.0,1300 6TH AV,34.0475,-118.3230
865886,232019883,12/31/2023 12:00:00 AM,12/31/2023 12:00:00 AM,400,20,Olympic,2062,2,624,BATTERY - SIMPLE ASSAULT,26,101.0,STREET,IC,Invest Cont,624.0,11TH ST,34.0508,-118.3101
801626,241404110,12/31/2023 12:00:00 AM,12/31/2023 12:00:00 AM,505,14,Pacific,1459,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,38,101.0,STREET,IC,Invest Cont,331.0,5000 SAWTELLE BL,33.9978,-118.4044
866672,231821470,12/31/2023 12:00:00 AM,12/31/2023 12:00:00 AM,1245,18,Southeast,1829,1,510,VEHICLE - STOLEN,0,108.0,PARKING LOT,IC,Invest Cont,510.0,2400 E CENTURY BL,33.9465,-118.2300
662356,240904008,12/31/2023 12:00:00 AM,12/31/2023 12:00:00 AM,230,9,Van Nuys,952,2,626,INTIMATE PARTNER - SIMPLE ASSAULT,45,108.0,PARKING LOT,AO,Adult Other,626.0,15300 WEDDINGTON ST,34.1667,-118.4662